<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="myFramework">

	<listeners>
		<listener
			class-name="com.crm.qa.ExtentReportListener.ExtentReportNG">
		</listener>
	</listeners>
	<test name="Cogmento">
		<classes>
			<class name="com.crm.qa.testcases.LoginPageTest"/>
<!-- 			<class name="com.crm.qa.testcases.HomePageTest" />
			<class name="com.crm.qa.testcases.ContactsPageTest" /> -->
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->